*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "comic sans ms";
}
#intro{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url("Colors-Checkout-Process.jpg");
    text-align: center;
    z-index: 2222;
    transform: translateY(0px);
    transition: 1s;
  
}
#logo{

    width: 150px;
    margin: 40px auto;
    transition: .5s;
    transform: scale(1);
    animation:car 1s ease-in-out 0s infinite ;
    
} 
@keyframes car{
    0%{
        transform: scale(1);
    }
    50%{
         transform: scale(1.3);
    }
  
    100%{
        
         transform: scale(1);
    }
} 


#logo:hover{
    transform: scale(1.2);
}
#welcome{
    width: 60%;
    height: 40%;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin: 10px auto;
    background:-webkit-linear-gradient(bottom,#0839af 10%,#00d8ff 100%);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    
}

#img{
    width: 29%;
    height: 90%;
    float: left;
    position: relative;
     background-image: url("-3.png");
    background-size: cover;
    background-position: 20px 20px;
}#welcome #img:after{
    content: "";
    width: 4px;
    height: 75%;
    position: absolute;
    top: 10%;
    right:0;
    background-color: #fff;
    
}

#welcome header{
    font-size: 40px;
    color: #fff;
    text-shadow: 3px 3px 4px #000;
    margin: 30px;
    
}
#welcome span{
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 2px 3px #000;
    margin: 30px;
    line-height: 40px;
    letter-spacing: 0;
}
#intro input{
    width: 90px;
    height: 50px;
    border-radius: 20px;
    background:-webkit-linear-gradient(bottom,#0839af 10%,#00d8ff 100%);
    font-size: 20px;
    color: #fff;
    border:0;
    outline: 0;
    cursor: pointer;
    margin: 100px;
    transition: .5s;
}#intro input:hover{
        background:-webkit-linear-gradient(bottom,#00d8ff 10%,#0839af 100%);
    transform: scale(1.2);
}#intro input:active{
    transform: scale(.2);
}

#firstpage {
    position: absolute;
    top:0; 
    left:0;
    width;100%;
    height:700px;
    background-image: url(0_jYTPhSdLKCzrRSxb.jpg);
    background-size: cover;
    color: white;
    
}

#firstpage #not{
    position:relative;
    top:0;
    left: 0;
    width:90%;
    height: 66px;
    font-size: 15px;
    padding: 10px;
    border-bottom: 3px solid #fff;
    margin: 0 auto;
}
#fixed{
    position: fixed;
    top:0;
    left: 67.5px;
     width:90%;
    height: 60px;
    font-size: 15px;
    padding: 10px;
    border-bottom: 1px solid #000;
  z-index: 222;
    background:-webkit-linear-gradient(top,rgb(255,3,44,0),rgb(0,0,0,.5));
    transition: .3s;
    transform: translatey(-100px);
    
}
#firstpage nav ul li{
    display: inline-block;
    cursor: pointer;
    margin-left: 80px;
    position: relative;
    padding: .9%;
    transition: .5s
}
#firstpage nav ul li:hover{
    border:0 solid #fff;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background: -webkit-linear-gradient(top,#9c022a,#000);
    
}
#firstpage nav ul li:after{
    content: '|';
    position: absolute;
    top: 10px;
    right: -30px;
}
#words{
    float: left;
    width:40%;
    height: 300px;
    white-space:wrap;
    font-size: 20px;
    margin-left: 12%;
    margin-top: 100px;
    line-height: 35px;
    
}
#firstpage sidebar{
    float: right;
    width: 25%;
    height: 500px;
    margin-right: 15%;
    margin-top: 50px;
    font-size: 20px;
      border:0 solid #fff;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    background: -webkit-linear-gradient(top,rgb(137,2,38,.8),#000);
    text-align: center;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
#firstpage sidebar img{
    width: 50%;
   padding-bottom: 20px;
    filter: opacity(.8);
    cursor: pointer;
    transition: .5s;
}#firstpage sidebar img:hover{
    filter: opacity(1);
}
#opa{
    width: 350px;
    height: 100px;
    color: #fff;
  background: -webkit-linear-gradient(left,#000,#cf0845);
  padding: 5px;
    position: fixed;
    left: -340px;
border:0 solid #fff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    transition: .6s;
    z-index: 33;
}
#opa:hover{
    position: fixed;
    left: 0;
}
#opa #me {
    width: 25%;
    float: left;
}
#opa #text{
    width: 25%;
    margin:1px;
}
#opa #arrow{
    padding-top: auto;
    width:6%;
    filter: opacity(.5);
    float: right;
}
article{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 800px;
    background-image: url(Untitled-1.jpg);
    background-size: cover;
    background-position: center
}
#p{
    width: 60%;
    height: 70%;
    float: left;
    font-size: 20px;
    color: #fff;
    border-right: 3px solid #fff;
    margin-top: 10%;
    padding: 10%;
    padding-top: 0;
    line-height: 35px;
}
#start{
    width: 39%;
    height: 100%;
    text-align: center;
    float: right;
    padding-top:200px; 
}
#start img{
    width: 60%;
    
    
}
#start input{
    margin-top: 20px;
    background-color: #005e20;
    font-size: 25px;
    width: 80%;
    height: 80px;
    border-radius: 20px;
    color: #fff;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: .5s;
    font-family: fantasy;
}
#start input:hover{
    transform: scale(1.1); 
}#start input:active{
   transform: scale(.5);   
}
footer{
   
    font-family: fantasy;
    background: -webkit-linear-gradient(bottom,#3b030c,#9f0830);
    width: 100%;
    height: 300px;
    color: #fff; 
    padding-top: 30px;
}
#end{
    font-family: fantasy;
    float: left;
    width: 60%;
    height: 90%;
    border-right: 3px solid #fff;
    font-size: 25px;
    line-height: 40pxx;
    padding-top: 70px;
}
#end img{
    width: 25%;
    float: left;
    padding-left: 30px;
    
}
#social{
    font-family: fantasy;
    float: right;
    width:39%;
    text-align: center;
    font-size: 30px;
}
#social img{
    width: 40%;
    padding-top: 10%;
}

#form2{
    position: fixed;
    top:40px;
    left: 350px;
    width: 50%;
    height: 90vh;
    background-color:#9a072e;
    color: #fff;
    text-align: center;
      border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: .6s;
    transform: scale(0);
}


#form  {
    position: fixed;
    top:100px;
    left: 350px;
    width: 50%;
    height: 60vh;
    background-color:#9a072e;
    color: #fff;
    text-align: center;
      border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: .6s;
    transform: scale(0);
    
}
#form img,#form2 img{
    width: 50px;
    float: left;
    cursor: pointer;
}
#form #inside_form,#form2 #inside_form{
width: 100%;
    height: 100%;
    color: #fff;
    position: absolute;
}

#form  p ,#form2 p{

    font-size: 30px;
    margin-bottom: 20px;
}
#form  form , #form2 form{
    width: 100%;
    height: 100%;
}
#form  input[type="text"] ,#form2 input[type="text"]{
    margin: 30px;
    width: 400px;
    height: 40px;
    font-size: 20px;
}
#form  input[type="button"] , #form2 input[type="button"]{
    background-color: 541025;
    outline: 0;
    border: 0;
    cursor: pointer;
    width: 150px;
    height: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 20px; margin-top: 50px;
    margin-left: 20px;
}#form  input[type="button"]:active ,#form2 input[type="button"]:active{
    transition: .9s;
    transform: scale(.5);
   
}

















